.navbar {
  background-color: @color-header;
  border-color: @color-footer;
}
.navbar-menu {
  background-color: @color-nav;
}
.navbar-logo a span {
  color: @color-nav;
}

.navbar-nav li a, footer.footer a, footer .logo a span {
  color: @color-nav-links;
}
.navbar-nav li.active a, .navbar-nav li.active a:hover, .navbar-nav li a:hover, footer {
  background-color: @color-footer;
}
footer.footer {
  color: @color-footer-text;
}

@media (min-width: @grid-float-breakpoint) {
  nav.navbar + .container {
    margin-top: 48px;
  }
}