.dl-horizontal, .condensed-listing {
  font-size: @font-size-large;
}

.gl-header {
  background-color: @breadcrumb-bg;
  padding: @default-padding;
  border-radius: @list-group-border-radius;
  margin-top: @line-height-computed;
  margin-bottom: @aligned-spacing;
}
.gl-header > * {
  margin: 0;
}
.gl-header-sub {
 padding: 0 @default-padding;
}
.navbar {
  background-color: @color-header;
  border-color: @color-footer;
}
.navbar-menu {
  background-color: @color-nav;
}
.navbar-logo a span {
  color: @color-nav;
}

.navbar-nav li a, footer.footer a, footer .logo a span {
  color: @color-nav-links;
}
.navbar-nav li.active a, .navbar-nav li.active a:active, .navbar-nav li.active a:hover, .navbar-nav li a:hover, footer {
  background-color: @color-footer;
}
footer.footer {
  color: @color-footer-text;
}
.pt-home .home-states-wrap a:hover, .pt-home .home-states-wrap a:focus, .pt-home .home-states-wrap a:active {
  color: @color-nav;
}
.pt-home .types-short a span.fa.fa-visible {
  color: @color-footer;
}
.pt-home .types-short a:hover span.fa.fa-visible, .pt-home .home-bullets .list-group-items > .list-group-item span {
  color: @color-nav;
}
.pt-home .home-lead-search button {
  background-color: @color-nav;
  color: @color-nav-links;
}
.pt-home .home-lead-search button:hover {
  background-color: @color-footer;
}
.pt-home .home-lead-search.alt button {
  background-color: @color-nav-links;
  color: @color-footer;
}
.pt-home .home-lead-search.alt button:hover {
  color: @color-nav;
}
@media (min-width: @grid-float-breakpoint) {
  nav.navbar + .container {
    margin-top: @header-height;
  }
}